* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  
}

html,
body {
  width: 100%;
  height: 100vh;
  background-color: azure;
 
}

header {
  width: 100%;
  background-color: slateblue;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: fixed;
 
}



.link{
  text-decoration: none;
  color: white;
  font-size: 18px;
  margin: 10px 15px;
  background-color: goldenrod;
  padding: 5px 15px;
  border-radius: 5px;

  
}
#logout{
  padding: 5px;
}
header ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
.logo{
  font-size: 30px;
  color: white;
  text-decoration: none;
}

.blog-list {
  width: 100%;
  padding: 10px;
  
}

.blog {
  display: flex;
  flex-direction: column;
  width: 50%;
  background-color: rgb(171, 172, 172);
  padding: 10px;
  margin: 10px auto;
  border-radius: 5px;
}
.login-form{
  width: 25%;
  padding: 10px;
  margin:  auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid;
  background-color: rgb(161, 228, 231);
  
}
.login-form input{
  width: 100%;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}
.login-form button{
  padding: 10px 15px;
  background-color: greenyellow;
  border: none;
  cursor: pointer;

}
.login-form button:hover{
  border: 1px solid;

}

.profile{
  width:50%;
  margin:15px auto;
  padding: 20px;
  border: 1px solid;
}
.profile input{
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  width: 100%;
}

.add-blog{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin: 15px auto;
  padding: 10px;
}
.add-blog input , textarea{
  width: 100%;
  margin: 10px;
  padding: 10px;
}

#blog-delete{
  display: flex;
  justify-content: space-between;
}
#blog-delete button{
  padding: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background: rgb(253, 32, 32);
  color: white;
}
.image{
  width: 100%;
  text-align: center;
  padding: 10px;
  border: 1px solid;
  background-color: greenyellow;
  cursor: pointer;
}
.blog-details{
  width: 50%;
  margin: 15px auto;
}
.blog-details img{
  /* width: 500px; */
  width: 100%;
  
}

#hamburger{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  display:none
 
}
header i{
  color: white;
  border: 1px solid;
  padding: 10px;
  background-color: rgb(112, 9, 9);
  border-radius: 5px;
  display: none;
}
#hamburger li{
  margin: 10px;
}
.active{
  display: none;
}
.space-top{
  padding-top: 100px;
  height: 100vh;
}
@media screen  and (max-width:480px) {
  .login-form p{
    width: 100%;
  }
  
  header ul{
    display: none;
  }
  #hamburger{
    display: none;
  }
  header i{
    display: block;
  }
  
  .login-form{
    width: 90%;
  }
  .blog{
    width: 90%;
  }
  .profile{
    width: 90%;
  }
  .add-blog{
    width: 90%;
  }
  .blog-details{
    width: 90%;
  }

  
}

.photo{
  width: 200px;
  cursor: pointer;
}

::-webkit-scrollbar {
  
  display:none
}

/* loader */
#loader{
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border:  5px solid azure ;
  border-top-color: black;
  animation: spinner 1s linear infinite;
}
@keyframes spinner {
  0%{
      transform: (0deg);
      /* box-shadow: 1px 5px 2px red; */
  }
  
  100%{
      transform: rotate(360deg);
      /* box-shadow: 1px 5px 2px red; */
  }


}
 #loader span{
  color: black;
  font-size: 20px;
}

.load-container{
 width: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
 margin-top: 250px;
  
}




